/* 设置是否换行和溢出隐藏 */

//超出宽度省略
.ellipsis(@w:auto) {
  width: @w;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
//超出行数省略
.ellipsisLn(@line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
}
//强制换行
.text-wrap() {
  word-wrap: break-word;
  word-break: break-all;
}
//单词拆分
.hyphens() {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}