@hd: 2px;
.formbg-item{
	background-image: url(../../images/qichefuwu.png);
	background-size: cover ;
	width: 62px * @hd;
	height: 66px * @hd;
	left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -31px * @hd;
    margin-top: -33px * @hd;
}