body{
	/*background-color: #fff;*/
}
.ryt-pingce{
border-bottom: 0.01rem solid #f0f0f0;
}
.ryt-pingce-box{
	margin: 0 0.16rem;
	display: -webkit-box;   display: -ms-flexbox;   display: flex;;
}
.ryt-pingce-box-left{
	font-family: PingFangSC-Regular;
font-size: 0.2rem;
color: #222222;
text-align: left;
flex: 1;
padding: 0.2rem 0; 
}.ryt-pingce-box-right{
	padding-top: 0.22rem;
	font-family: PingFangSC-Regular;
font-size: 0.14rem;;
color: #999999;
text-align: right;
padding-right: 0.05rem;

}
.ryt-pingce-box-pic{
	width: 0.1rem;
	height:0.15rem;
	/*background-color: #543232;*/
	background-image: url(../../images/index/anniujinru.png);
	background-size: 100% 100%;
	margin-top: 0.24rem;
}
.rit-guanaijiankang-bg{
	margin: 0.04rem 0.16rem;
	height: 3.6rem;
	/*margin:0.04rem 0.16rem 0.5rem 0.16rem;*/
}
.rit-guanaijiankang-bg-bgimg{
	width: 100%;
	height: 1.08rem;
	margin-top: 0.12rem;
	background-color: #999999;
}
.rit-guanaijiankang-bg-higth{
	height: 0.16rem;
}
.ryt-jiankuang-xiaozhishi-box{
	margin:0 0.16rem;
}
.ryt-jiankuang-xiaozhishi-cia1 ,.ryt-jiankuang-xiaozhishi-cia2{
	display: -webkit-box;   
	display: -ms-flexbox;   
	display: flex;;
	margin-top: 0.2rem;
}
.ryt-jiankuang-xiaozhishi-pic{
	width: 1.01rem;
	height: 0.68rem;
	background-size: 100% 100%;
}
.ryt-jiankuang-xiaozhishi-text{
	width: 2.26rem;
	font-family: PingFangSC-Regular;
	font-size: 0.16rem;
	color: #222222;
	text-align: left;
	margin-left: 0.14rem;
	letter-spacing: 0;
	padding-top: 0.14rem;
}
.ryt-jiankuang-xiaozhishi{
	padding-bottom: 0.2rem;
}
.ryt-jiankuang-xiaozhishi-hight{
	height: 0.15rem;
}
.ryt-jiankuang-xiaozhishi-hights{
	height: 1px;
	border-bottom: 1px solid #F0F0F0;
	margin-top: 0.15rem;
}
.ryt-jiankuang-xiaozhishi-highta{
	width: 1px;
	height: 0.2rem;
	background: #F0F0F0; 
	margin-top: 0.25rem;
}
.ryt-rs-lonin{
	height: 1.12rem;
	background-color: #FFFEF1;
	margin-top: 0.2rem;
}
.rit-qichefuwu-banners{
	width: 100%;
	height: 1.28rem;
	background-image: url(../../images/carehealth/guanaijiankanghead.jpg);
    background-size: 100% 100%;
}
.ryt-jiankuang-baoxian-img{
	width: 100%;
	height: 100%;
	/*border:2px solid black;*/
}
.mage-higths{
	height: 0.09rem;
	background:#eeeef2;
	margin-top: 0.1rem;
}
.rit-lc-xbz-card-bg1{
    width: 100%;
    height: 1.12rem;
    background-size: 100% 100%;
}
.rit-lc-xbz-card-list-li-top1{
    font-family: PingFangSC-Regular;
font-size: 0.16rem;
color: #EA5454;
}
.rit-lc-xbz-card-list-li-top2{
    font-family: PingFangSC-Regular;
font-size: 0.16rem;
color: #222222;
}
.rit-lc-xbz-card-list-li1{
    flex: 1;
    margin-top: 0.15rem;
    /*border-right: 0.01rem solid #f0f0f0;*/
    
}