.rit-li-card{
    width: 3.43rem;
    height: 1.3rem;
    background: #FFFFFF;
    border: 0.01rem solid #DDDDDD;
    border-radius: 0.07rem;
    margin: 0 auto;
}
.rit-li-card-top{
    background-color: #F5F5F7;
    /*display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;*/
    overflow: hidden;
      border-top-left-radius: 0.07rem;
        border-top-right-radius: 0.07rem;
}
.rit-li-card-top-lftbg1{
    width: 0.4rem;
    height: 0.22rem;
    /*background-color: #D3EEFC;*/
    margin-left: 0.16rem;
    margin-top: 0.17rem;
    margin-bottom: 0.095rem;
    background-image: url(../../../images/lovepay/licaibiaozhi.png);
    background-size: 100% 100%;
    float: left;
}
.rit-li-card-top-lftbg{
    width: 0.4rem;
    height: 0.22rem;
    /*background-color: #D3EEFC;*/
    margin-left: 0.16rem;
    margin-top: 0.17rem;
    margin-bottom: 0.095rem;
    background-image: url(../../../images/lovepay/daikuanbiaozhi.png);
    background-size: 100% 100%;
    float: left;
}
.rit-li-card-top-title{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #000000;
    margin-left: 0.05rem;
    margin-top: 0.17rem;
    float: left;
}
/*.rit-li-card-top-titles{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #000000;
    margin-right: 0.09rem;
    margin-top: 0.17rem;
    float: right;
}*/
.rit-li-card-top-biaozhi{
    width: 0.72rem;
    height: 0.18rem;
    /*border: 0.01rem solid #42A2D7;*/
    /*margin-left: 0.15rem;*/
    margin-top: 0.17rem;
    background-image: url(../../../images/lovepay/gongzikehuzhuanshu.png);
    background-size: 100% 100%;
    float: left;
    /*padding-right: 0.01rem;*/
    float: right;
    margin-right: 0.125rem;
}
.rit-li-card-buttom-cp{
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
}
.rit-li-card-buttom-cp-left-bafenb{
    /*width: 0.85rem;
    height: 0.46rem;
        display: table-cell;
    vertical-align: bottom;*/
    display: inline-block;
    float: left;
    margin-left: 0.16rem;
    margin-right: 0.5rem;
    width: 1.2rem;
    overflow: hidden;
    text-align: center;
    height: 0.43rem;
}
.rit-li-card-buttom-cp-left-bafenbs{
    font-family: PingFangSC-Regular;
font-size: 0.32rem;
color: #EA5454;
}
.rit-li-card-buttom-cp-left-span{
font-family: PingFangSC-Regular;
font-size: 0.23rem;
color: #EA5454;
}
.rit-li-card-buttom-cp-left-jizhunlv{
    font-family: PingFangSC-Light;
    font-size: 0.14rem;
    color: #666666;
    margin-left: 0.16rem;
    float: left;
    width: 1.2rem;
        letter-spacing: 0.01rem;

}
.rit-li-card-buttom-cp-right-qgjine{
    font-family: PingFangSC-Regular;
font-size: 0.18rem;
color: #4A4A4A;
/*display: table-cell;
    vertical-align: middle;
    height: 0.43rem;*/
    margin-top: 0.14rem;
}
.rit-li-card-buttom-cp-right-span{
    font-family: PingFangSC-Medium;
font-size: 0.12rem;
color: #4A4A4A;
}
.rit-li-card-buttom-cp-right-leixing{
    font-family: PingFangSC-Medium;
font-size: 0.14rem;
color: #4A4A4A;
/*margin-top: 0.05rem; */
    float: left;
    margin-left: 0.55rem;
}
.rit-li-card-buttom-cp-left{
    margin-left: 0.16rem;
}
.ryt-boder{
    width: 0.01rem;
    background-color: #DDDDDD;
    /* margin: 0.17rem 0.26rem; */
    height: 0.49rem;
    position: absolute;
    top: 0.13rem;
    left: 1.57rem;
}
.rit-li-card-buttom-cp-right{
    /*margin-top: 0.185rem;*/
    display: inline-block;
    float: left;
}
.rit-li-card-buttom1{
    display: -webkit-box;   display: -ms-flexbox;   display: flex;;
    margin-top: 0.24rem;
}
.rit-li-card-buttom1-left{
    width: 1.07rem;
    margin-left: 0.16rem;
    border: 0.01rem solid #DDDDDD;
    line-height: 0.35rem;
}