@hd: 2px;
.rit-menu-card {
  background-color: #fff;
  box-shadow: 0 2px * @hd 1px * @hd 0 rgba(186, 186, 186, 0.5);
  /*border-radius: 0 0 6px * @hd 6px * @hd;*/
  /*7.16 xin*/
  border-radius: 6px * @hd;
  margin-top: -13px * @hd;
  /*7.16 xin*/
  border: 1px solid #fff;
  /*padding-right: 7px * @hd;*/
}
.rit-card-box {
  padding: 25px * @hd 0;
}
.rit-card-li1 {
  margin-left: 157px * @hd;
}
.rit-card-li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.rit-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /*padding: 1px * @hd 0;*/
  /*7.16 xin*/
  /*padding: 25px * @hd 0 1px * @hd;*/
  /*7.16*/
}
.rit-card-li-bg {
  width: 2px * @hd;
  height: 2px * @hd;
  background-color: #42a2d7;
  margin: 0 auto;
}
.rit-card-li-bg-qichefuwu {
  width: 2px * @hd;
  height: 2px * @hd;
  background-image: url(../../../images/qichefuwu.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-qichebaoxian {
  width: 2px * @hd;
  height: 2px * @hd;
  background-image: url(../../../images/qichebaoxian.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-qichedaikuan {
  width: 2px * @hd;
  height: 2px * @hd;
  background-image: url(../../../images/qichedaikuan.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-meirongyanghu {
  width: 2px * @hd;
  height: 2px * @hd;
  background-image: url(../../../images/carserve/meirong.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-daodianbaoyang {
  width: 2px * @hd;
  height: 2px * @hd;
  background-image: url(../../../images/carserve/daodianbaoyang.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-daolujiuyuan {
  width: 2px * @hd;
  height: 2px * @hd;
  background-image: url(../../../images/carserve/daolujiuyuan.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-xianshangqianzheng {
  width: 29px * @hd;
  height: 21px * @hd;
  background-image: url(../../../images/chujingjinrong/xianshangqianzheng.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-jingwaihuikuan {
  width: 29px * @hd;
  height: 21px * @hd;
  background-image: url(../../../images/chujingjinrong/jingwaihuikuan.png);
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
}
.rit-card-li-bg-jieshouhui {
  width: 29px * @hd;
  height: 21px * @hd;
  background-image: url(../../../images/chujingjinrong/jieshouhui.png);
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
}
/*7.16*/
.rit-card-li-bg-tuichu {
  width: 4px * @hd;
  height: 2px * @hd;
  background-image: url(../../../images/chujingjinrong/jijiangtuichu.png);
  background-size: 100% 100%;
  position: absolute;
  top: -19px * @hd;
  left: 15px * @hd;
}
/*7.16*/
.rit-card-li-bg-xinyongka {
  width: 29px * @hd;
  height: 21px * @hd;
  background-image: url(../../../images/chujingjinrong/xinyongka.png);
  background-size: 100% 100%;
  margin: 0 auto;
}

.rit-card-li-bg-yibaofuwu {
  width: 23px * @hd;
  height: 23px * @hd;
  background-image: url(../../../images/carehealth/yibaofuwu.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-lvseshipin {
  width: 23px * @hd;
  height: 23px * @hd;
  background-image: url(../../../images/carehealth/lvseshipin.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-yundongdingyue {
  width: 23px * @hd;
  height: 23px * @hd;
  background-image: url(../../../images/carehealth/yundongdingchang.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-jiankangzixun {
  width: 23px * @hd;
  height: 23px * @hd;
  background-image: url(../../../images/carehealth/jiankangzixun.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-tijianyuyue {
  width: 23px * @hd;
  height: 23px * @hd;
  background-image: url(../../../images/carehealth/tijianyuyue.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-bg-vip {
  width: 23px * @hd;
  height: 23px * @hd;
  background-image: url(../../../images/carehealth/guibinfuwu.png);
  background-size: 100% 100%;
  margin: 0 auto;
}
.rit-card-li-title {
  font-family: PingFangSC-Regular;
  font-size: 14px * @hd;
  color: #222222;
  padding-top: 9px * @hd;
  text-align: center;
}
.rit-card-list-mager {
  height: 20px * @hd;
  background-color: #fff;
}
