@hd: 2px;
.rit-guanaijiankang-bg{
	margin: 4px * @hd 16px * @hd;
}
.rit-guanaijiankang-bg-bgimg{
	width: 100%;
	height: 108px * @hd;
	margin-top: 12px * @hd;
	background-color: #999999;
}
.rit-guanaijiankang-bg-higth{
	height: 16px * @hd;
}
.ryt-jiankuang-xiaozhishi-pic7{
	width: 100%;
	height: 100%;
	
}