@hd: 2px;
.swiper-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-slide{
	text-align: center;
	font-size: 18px * @hd;
	width: 4px * @hd;
	height: 2px * @hd;
	background-size: 100% 100%;
	float: left;
}
.swiper-wrapper{
	width: 375px * @hd;
}
.swiper-wrapper .swiper-slide{
	width: 100%;
	height: 128px * @hd;
}
.img-lunbo{
	width: 100%;
	height: 128px * @hd;
	display: block;
}
.swiper-container{
	height: 128px * @hd;
}

/*.swiper-wrapper .swiper-slide:nth-child(1){
	background-image: url(../images/chujingjinrong/faguo.png);
	width: 4px * @hd;
	height: 2px * @hd;
	background-size: 100% 100%;
}
.swiper-wrapper .swiper-slide:nth-child(2){
	background-image: url(../images/chujingjinrong/taiguo.png);
	width: 4px * @hd;
	height: 2px * @hd;
	background-size: 100% 100%;
}
.swiper-wrapper .swiper-slide:nth-child(3){
	background-image: url(../images/chujingjinrong/deguo.png);
	width: 4px * @hd;
	height: 2px * @hd;
	background-size: 100% 100%;
}
.swiper-wrapper .swiper-slide:nth-child(4){
	background-image: url(../images/chujingjinrong/faguo.png);
	width: 4px * @hd;
	height: 2px * @hd;
	background-size: 100% 100%;
}
.swiper-wrapper .swiper-slide:nth-child(5){
	background-image: url(../images/chujingjinrong/taiguo.png);
	width: 4px * @hd;
	height: 2px * @hd;
	background-size: 100% 100%;
}*/
.swiper-pagination{
	/*top: 1.5px * @hd;*/
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
	background: #222;
}
