@hd: 2px;
.rit-qichefuwu{

}
.rit-qichefuwu-banner{
	width: 100%;
	height: 128px * @hd;
	background-color: #000000;
}
.rit-qichefuwu-banner.qiche{
	background-image: url(../../images/carserve/qiche.png);
    background-size: 100% 100%;
}
.rit-qichefuwu-box , .rit-qichefuwu-button-box{
	margin: 0 16px * @hd;
}
.rit-qichefuwu-button-box{
	padding: 32px * @hd 0 20px * @hd 0;
}
.rit-qichefuwu-button{
	background-color: #fff;
	margin: 10px * @hd 0;
}
.rit-qichefuwu-button-box-mging{
	height: 23px * @hd;
}
.rit-qichefuwu-list{
	margin-bottom: 45px * @hd;
	
}
body{
	background:#eeeef2;
}