@hd: 2px;
.rit-qichefuwu-banner{
	width: 100%;
	height: 128px * @hd;
	background-image: url(../../images/chujingjinrong/chuguojinronghead.png);
    background-size: 100% 100%;
}
.waihuiduihuan{
    height: 96px * @hd;
    position: relative;
   display: flex;
    background-color: #fff;
    overflow: hidden;
    margin-top: 10px * @hd;
    margin-bottom: 10px * @hd;
}
.waihuiduihuan-text{
    position: absolute;
    width: 30px * @hd;
    font-family: PingFangSC-Medium;
    font-size: 14px * @hd;
    color: #222222;
    top: 25px * @hd;
    left: 16px * @hd;
    font-weight: bold;
}
.left-boder{
    width: 2px * @hd;
    height: 17px * @hd;
    background-color: #D7D7D7;
    margin-top: 35px * @hd;
    /*margin-left: 0.1px * @hd;*/
    position: absolute;
    left: 55px * @hd;
}
.lunbo{
    margin-left: 22px * @hd;
    flex: 1;
    padding: 20px * @hd 0;
    margin-left: 60px * @hd;
}
.image-bg{
    /*width: 1.86px * @hd;*/
    height: 62px * @hd;
    border: 1px solid #E4E4E4;
    display: flex;
    margin-left: 9px * @hd;
    padding-bottom: 1px * @hd;
}
.image-bg-box{
    padding: 21px * @hd 7px * @hd 21px * @hd 10px * @hd;
    display: flex;
}
.image-bg-icon{
    width: 28px * @hd;
    height: 19px * @hd;
    background-size: 100% 100%;
}
/*7.16*/
.duihuanlv{
    padding-left: 7px * @hd;
}
.duihuanlv span{
    font-family: PingFangSC-Regular;
    font-size: 12px * @hd;
    color: #000000;
}
.lunbo-shikou{
    display: flex;
}
.bjyh-cjlx{
    background-color: #f5f5f5;
}
.nav-title{
    background-color: #fff;
    display: flex;
    border-bottom: 1px solid #f0f0f0;
}
.nav-boder-left{
    width: 3px * @hd;
    height: 16px * @hd;
    background-color: #42A2D7;
    margin-left: 14px * @hd;
    margin-top: 30px * @hd;
    margin-right: 5px * @hd;
}
.nav-boder-title{
    font-family: PingFangSC-Medium;
    font-size: 24px * @hd;
    color: #222222;
    padding:20px * @hd 0;
    font-weight: bold;
}
.nav-boder-gengduo{
    text-align: right;
    flex: 1;
    /*padding: 0.27px * @hd 0;*/
    padding: 0.31px * @hd 0 0 0;
}
.nav-boder-youjiantou{
    width: 20px * @hd;
    height: 20px * @hd;
    background-image: url(../../images/jiantouyou.png);
    background-size: 100% 100%;
    margin: auto;
    margin-right:  6px * @hd;
}
.banner-lunbo{
    height: 128px * @hd;
    background-image: url(../../images/chujingjinrong/yuexingjianada.png);
    background-size: 100% 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
}
.zixun{
    display: flex;
    padding: 13px * @hd 0;
    background-color: #fff;
}
.zixun-title{
    font-family: PingFangSC-Medium;
    font-size: 14px * @hd;
    color: #600313;
    padding-left: 16px * @hd;
}
.zixun-text{
    width: 30px * @hd;
    font-family: PingFangSC-Regular;
    font-size: 12px * @hd;
    color: #898989;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 15px * @hd;
    padding-top: 2px * @hd;
}
.jingwai-yewu{
    background-color: #fff;
    border-top: 1px * @hd solid #f0f0f0;
}
.jingwai-yewu-box{
    padding-left:15px * @hd;
    display: flex;
}
.jingwai-yewu-box-left{
    flex: 1;
    text-align: left;
    border-right: 1px * @hd solid #F0F0F0;
}
.jingwai-yewu-box-left-title{
    font-family: PingFangSC-Regular;
    font-size: 16px * @hd;
    color: #000000;
    padding-top: 16px * @hd;
}
.jingwai-yewu-box-left-miaosu{
    font-family: PingFangSC-Regular;
    font-size: 12px * @hd;;
    color: #A5A5A5;
}
.jingwai-yewu-box-left-bg{
    width: 126px * @hd;
    height: 80px * @hd;
    background-color: #A5A5A5;
    margin-top: 23px * @hd;
    margin-left: 15px * @hd;
}
.rit-rzdk-box{
    padding-left: 11px * @hd;
    padding-top: 16px * @hd;
    position: relative;
}
.rit-rzdk{
    font-size: 16px * @hd;
    color: #000000;
    text-align: left;
}
.rit-rzdk-ms{
    font-family: PingFangSC-Regular;
    font-size: 12px * @hd;
    color: #A5A5A5;
    text-align: left
}
.rit-rzdk-img{
    width: 53px * @hd;
    height: 39px * @hd;
    background-color: #42A2D7;
    position: absolute;
    top: 39px * @hd;
    right: 10px * @hd;
}
.jingwai-yewu-box-right{
    flex: 1;
}
.jingwai-yewu-box-right-top{
    border-top: 1px * @hd solid #F0F0F0;
    height: 93px * @hd;
}
.mage-higth{
    height: 10px * @hd;
}
.mage-higth1{
    height: 20px * @hd;
    background: #fff;
}
.shijieqian-list{
    background-color: #fff;
}
.shijieqian-list-bg{
    width: 332px * @hd;
    height: 127px * @hd;
    background-color: #898989;
    margin: 0 auto;
    
    border-radius: 10px * @hd;
}
.ryt-gg-hight{
    height: 16px * @hd;
}
.rit-gengduo{
    line-height: 54px * @hd;
    font-family: PingFangSC-Regular;
    font-size: 16px * @hd;
    color: #42A2D7;
    border-top: 1px * @hd solid #F0F0F0;
}
.rit-xinyongka-box{
    display: flex;
    padding-left: 40px * @hd;
    padding-top: 14px * @hd;
    padding-bottom: 14px * @hd;
}
.rit-xinyongka{
    background-color: #fff;
}

.rit-xinyongka-box-caer{
    width: 107px * @hd;
    /* flex: 1; */
}
.box-caer-bg{
    width: 107px * @hd;
    height: 68px * @hd;
    /*background-color: #600313;*/
}
.taiguo{
    background-image: url(../../images/chujingjinrong/taiguo.png);
    background-size: 100% 100%;
}
.deguo{
    background-image: url(../../images/chujingjinrong/deguo.png);
    background-size: 100% 100%;
}
.faguo{
    background-image: url(../../images/chujingjinrong/faguo.png);
    background-size: 100% 100%;
}
.visa{
    background-image: url(../../images/chujingjinrong/visa.png);
    background-size: 100% 100%;
}
.master{
    background-image: url(../../images/chujingjinrong/master.png);
    background-size: 100% 100%;
}
.box-caer-boder{
    width: 1px;
    height: 35px * @hd;
    background-color: #DBDBDB;
    margin: 19px * @hd 40px * @hd;
    
}
.box-caer-text{
    font-family: PingFangSC-Regular;
    font-size: 14px * @hd;
    color: #838383;
}
.ryt-xiaofeiyoujihua-box{
    height: 128px * @hd;
    /*padding-left: 0.21px * @hd;*/
    /*padding-top: 0.26px * @hd;*/
    padding-bottom: 14px * @hd;
    overflow: hidden;
    display: flex;
    /*7.16*/
    background-image: url(../../images/chujingjinrong/xiaofeiyoujihua.png);
    background-size: 100% 100%;
    /*7.16*/
}

.ryt-xiaofeiyoujihua-cerd{
    width: 92px * @hd;
    margin-right: 65px * @hd;
}
.ryt-xiaofeiyoujihua-cerd-title{
    font-family: PingFangSC-Regular;
    font-size: 16px * @hd;
    color: #000000;
}
.ryt-xiaofeiyoujihua-cerd-text{
    font-family: PingFangSC-Regular;
    font-size: 12px * @hd;
    color: #898989;
}
.ryt-xiaofeiyoujihua-cerd-bg{
    width: 92px * @hd;
    height: 92px * @hd;
    background-color: #42A2D7;
}
.ryt-xiaofeiyoujihua{
    overflow: hidden;
    background-color: #fff;
}
.ryt-cjxts{
    background-color: #fff;
    overflow: hidden;
    /*padding: 0 0.3px * @hd 0.49px * @hd 0.16px * @hd;*/
    padding: 0 0px * @hd 0px * @hd 0.2px * @hd;
        /*margin-bottom: 0.49px * @hd*/
}
.ryt-cjxts-box{
    display: flex;
    /* overflow: hidden; */
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
    /*margin-bottom: 0.49px * @hd;*/
        padding-bottom: 49px * @hd;
}
.ryt-cjxts-box-caerd{
    /*flex: 1;*/
    width: 314px * @hd;
    margin-right: 20px * @hd;
    margin-top: 20px * @hd;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    /*border-top: none;*/
}
.ryt-cjxts-box-caerd-bg{
    width: 314px * @hd;
    height: 150px * @hd;
    padding: 0;
    margin: 0;
    /*background-color: #42A2D7;*/
}
.xingqian{
    /*7.16*/
    background-image: url(../../images/chujingjinrong/xingqianzhunbei.png);
    background-size: 100% 100%;
    /*7.16*/
}
.chuguo{
    /*7.16*/
    background-image: url(../../images/chujingjinrong/chuguoliuxue.png);
    background-size: 100% 100%;
    /*7.16*/
}
.chujing{
    /*7.16*/
    background-image: url(../../images/chujingjinrong/chujingtieshi.png);
    background-size: 100% 100%;
    /*7.16*/
}


.ryt-cjxts-box::-webkit-scrollbar{
    display: none;
}
.box2 li{
    /*display: inline-block;*/
        list-style: none;
}
.box2{
    /* width: 100%; */
    overflow-x: auto;
    margin-left: 60px * @hd;
    padding: 0;
    -webkit-overflow-scrolling:touch;
}
.box2::-webkit-scrollbar{
    display: none;
}
.box2{
    display: flex;
    padding-bottom: 3px * @hd;
}
.box2 li{
    flex-shrink: 0;
}
.ryt-cjxts-box-caerd-title{
    font-size: 18px * @hd;
    text-align: left;
    text-indent: 9px * @hd;
    line-height: 30px * @hd;
    font-weight: bold;
    line-height: 40px * @hd;
    letter-spacing: 2px * @hd;
}
.ryt-cjxts-box-caerd-text{
    text-align: left;
    text-indent: 9px * @hd;
    color:  #898989;
    letter-spacing: 1px * @hd;
    margin-bottom: 10px * @hd;
}
.nav-boder-gengduo.qianzheng{
    color: #42A2D7;
    margin-right: 25px * @hd;
}
/*.zuihoua{
    border-right: none;
    border-top: none;
    border-bottom: none;
}
.zuihouab{
    border-right: 1px solid #DDDDDD; 
}
.zuihouac{
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}


cc1 3
    margin-left: 0.1px * @hd;
    margin-right: 0.1px * @hd;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0.49px * @hd;
cc1 1 2 
    margin-left: 0.1px * @hd;
bbb
    display: flex;
aaa
    display: flex;
    overflow-x: auto;
.aaa::-webkit-scrollbar{
    display: none;
}
*/
/*.aaa::-webkit-scrollbar{
    display: none;
}
.aaa{
    display: flex;
    overflow-x: auto;
}
.bbb{
    display: flex;
}*/